.App-logo {
  height: 90px;
  pointer-events: none;
}

.AM-sun {
  height: 35px;
}

.PM-moon {
  height: 35px;
}

.App-header {
  background-color: #653b6a;
  height: 100px;
  display: flex;
  align-items: start;
  justify-content: normal;
  color: white;
}

.Date-time {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding-right: 15px;
  padding-top: 15px;
}

.Time {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
  margin-left: auto;
}

h1 {
  font-size: calc(30px + 2vmin);
  margin-block-start: 0.4em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
